{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
    <div class="Dashboard_background">
        <div class="Dashboard_Box">
            <h2 class="dashboard-header">Dashboard</h2>
            <p class="Reg_No">Registration Number: {{ registration_no }}</p>
            <p class="Branch_Name">Branch: {{ branch }}</p>
        </div>
    </div>

    <div class="buttons">
        {% if user.is_authenticated %}
            <a href="{% url 'session_hub' %}">SessionHub</a>
            <a href="{% url 'todo_list' %}">To-Do List</a>
        {% endif %}
    </div>
</div>
{% endblock %}
